[submodule "Alamofire"]
	path = Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Cartography"]
	path = Cartography
	url = https://github.com/robb/Cartography.git
[submodule "FastImageCache"]
	path = FastImageCache
	url = https://github.com/path/FastImageCache.git
